body, html {
    height: 100%;
}

.big_image {
    height: 50%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Parallax for large screens */
@media screen and (min-device-width: 1366px) {
    .big_image {
        height: 100%;
        background-attachment: fixed;
    }
}

/* Large images for rotated phones */
@media screen and (orientation: landscape) {
    .big_image {
        height: 100%
    }
}

#zerzubenCar {
    background-image: url("../src/zerzuben_car.jpg");
}

#jmBurgdorfConcert {
    background-image: url("../src/jm_burgdorf_konzert.jpg");
}

#jmBurgdorfWin {
    background-image: url("../src/jm_burgdorf_sieg.jpeg");
}

#jmBurgdorfOldPresidents {
    background-image: url("../src/jm_burgdorf_altpraesidenten.jpeg");
}

#jmBurgdorfTrophy {
    background-image: url("../src/jm_burgdorf_pokale.jpeg");
}