body, html {
    height: 100%;
}

.big_image {
    height: 100%;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#zerzubenCar {
    background-image: url("../src/zerzuben_car.jpg");
}

#jmBurgdorfConcert {
    background-image: url("../src/jm_burgdorf_konzert.jpg");
}

#jmBurgdorfWin {
    background-image: url("../src/jm_burgdorf_sieg.jpeg");
}

#jmBurgdorfOldPresidents {
    background-image: url("../src/jm_burgdorf_altpraesidenten.jpeg");
}

#jmBurgdorfTrophy {
    background-image: url("../src/jm_burgdorf_pokale.jpeg");
}