body, html {
    height: 100%;
}

.big_image {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. */
@media only screen and (max-device-width: 1366px) {
    .big_image {
        background-attachment: scroll;
    }
}

#zerzubenCar {
    background-image: url("../src/zerzuben_car.jpg");
}

#jmBurgdorfConcert {
    background-image: url("../src/jm_burgdorf_konzert.jpg");
}

#jmBurgdorfWin {
    background-image: url("../src/jm_burgdorf_sieg.jpeg");
}

#jmBurgdorfOldPresidents {
    background-image: url("../src/jm_burgdorf_altpraesidenten.jpeg");
}

#jmBurgdorfTrophy {
    background-image: url("../src/jm_burgdorf_pokale.jpeg");
}