body, html {
    height: 100%;
}

.burgdorf-bus {
    background-image: url("../src/burgdorf/zerzuben.jpg");
}

.burgdorf-concert {
    background-image: url("../src/burgdorf/konzert.jpg");
}

.burgdorf-party {
    background-image: url("../src/burgdorf/group_party.jpg");
}

.parallax {
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
}