.flyer {
    max-width: 600px;
}

.top-image {
    height: 150px;
    background: url('../src/glishorn.jpg') center no-repeat;
    background-size: 100% auto;
}

@media (min-width: 600px) {
    .top-image {
        height: 200px;
    }
}

@media (min-width: 1200px) {
    .top-image {
        height: 300px;
    }
}