body, html {
    height: 100%;
}

.top-image {
    height: 150px;
    background-image: url("../src/glishorn.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.field {
    max-width: 600px;
}

.section p {
    text-align: justify;
}

.memorable {
    text-align: center;
}

@media (min-width: 600px) {
    .top-image {
        height: 200px;
        background-image: url("../src/glishorn_lg.jpg");
    }
}

@media (min-width: 1200px) {
    .top-image {
        height: 300px;
    }
}